BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 110
PointerAlignment: Left
ReferenceAlignment: Pointer
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
SortIncludes: Never
